.center-text {
  text-align: center;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-none {
  float: none;
}
.center-no-float {
  float: none;
  text-align: center;
}
.no-center-float {
  float: left;
  text-align: initial;
}
.center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.invisible {
  display: none;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.absolute-one-hundred-size {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.list-style-none {
  list-style-type: none;
}
.overflow-fix {
  overflow: auto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}
.basic-transition {
  transition: all 0.2s ease-in-out;
}
.dark-overlay {
  content: "";
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: none repeat 0 0 rgba(30, 30, 30, 0.5);
}
.radius {
  border-radius: 4px;
}
.secondary-btn {
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  border: 1px solid #512da8;
  color: #512da8;
  background: none;
  padding: 6px 12px;
}
.secondary-btn:hover {
  background-color: #512da8;
  color: #ffffff;
}
.primary-btn {
  padding: 12px 56px;
  border-radius: 4px;
  border: 1px solid #18ffff;
  background-color: #18ffff;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  margin: 20px 0;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
}
.primary-btn:hover {
  background-color: transparent;
  border: 1px solid #18ffff;
  font-size: 16px;
  color: #18ffff;
}
.white-btn {
  padding: 16px 33px;
  color: #ffffff;
  border-radius: 4px;
  line-height: 85px;
  text-decoration: none;
  font-size: 16px;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  border: 1px solid;
}
body {
  font-family: 'Roboto', sans-serif;
}
#indexlog {
  font-family: 'Roboto', sans-serif;
}
#indexlog {
  background: #252830;
}
.profile {
  background-color: rgba(255, 255, 255, 0.1);
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 10px;
  float: left;
  color: #cfd2da;
  text-align: center;
}
.profile h1 {
  color: #ffffff;
  font-size: 40px;
  padding: 15px;
}
.profile p {
  display: block;
  margin: 1px 0;
  padding: 10px 15px;
}
.profile a {
  padding: 16px 33px;
  color: #ffffff;
  border-radius: 4px;
  line-height: 85px;
  text-decoration: none;
  font-size: 16px;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  border: 1px solid;
}
.profile a:hover {
  padding: 16px 33px;
  border-radius: 4px;
  border: 1px solid #18ffff;
  background-color: #18ffff;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  margin: 20px 0;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
}
.profile-panel {
  background-color: #1bc98e;
  border-radius: 10px 10px 0 0;
  text-align: center;
}
.profile-panel h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
}
.social {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
}
.social h1 {
  font-size: 20px;
  display: inline-block;
  padding: 10px;
  color: #cfd2da;
}
.social i {
  font-size: 50px;
  color: #000000;
  transition: all 0.2s ease-in-out;
  margin: 20px;
}
.social i:hover {
  color: #1ca8dd;
}
.social-panel {
  background-color: #1ca8dd;
  border-radius: 10px 10px 0 0;
  text-align: center;
}
.social-panel h1 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
}
@media (max-width: 371px) {
  .social h1 {
    margin-right: 105px!important;
  }
}
#add_new {
  padding: 12px 56px;
  border-radius: 4px;
  border: 1px solid #18ffff;
  background-color: #18ffff;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  margin: 20px 0;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
}
#add_new:hover {
  background-color: transparent;
  border: 1px solid #18ffff;
  font-size: 16px;
  color: #18ffff;
}
label {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #d4d4d4;
}
/* hide input */
input.radio:empty {
  margin-left: -999px;
}
/* style label */
input.radio:empty ~ label {
  position: relative;
  float: left;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
input.radio:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #252830;
  border-radius: 3px 0 0 3px;
}
/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .1em;
  color: #cfd2da;
}
input.radio:hover:not(:checked) ~ label {
  color: rgba(0, 0, 0, 0.38);
}
/* toggle on */
input.radio:checked ~ label:before {
  content: '\2714';
  text-indent: .1em;
  color: rgba(0, 0, 0, 0.87);
  background-color: #1bc98e;
}
.header_search {
  font-size: 40px;
  color: #fff;
  margin: 30px 0;
}
label {
  background-color: #673ab7;
  width: 100%;
  border-radius: 3px 3px 0 0;
  text-align: center;
  color: #eeeeee;
  font-size: 16px;
  font-weight: 400;
}
#search_person_form {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
#search_person_form .form-group {
  margin: 20px 0;
}
#search_person_form .form-group .form-control {
  border-radius: 0 0 3px 3px;
  background-color: rgba(238, 238, 238, 0.1);
  color: #ccc;
  font-size: 16px;
  width: 100%;
}
#search_person_form #person_submit {
  padding: 12px 56px;
  border: none;
  background-color: #1bc98e;
  color: #eeeeee;
  font-size: 16px;
  margin: 20px 0;
}
#search_person_form #person_submit:hover {
  background-color: rgba(103, 58, 183, 0.5);
}
#search_person_table {
  color: #3a3c43;
}
#search_person_table .table_label {
  background-color: rgba(212, 212, 212, 0.4);
}
#search_person_table .name_table {
  background-color: rgba(83, 106, 156, 0.2);
}
#search_person_table .surname_table {
  background-color: rgba(143, 106, 232, 0.2);
}
#search_person_table .adress_table {
  background-color: rgba(242, 104, 255, 0.2);
}
#search_person_table .city_table {
  background-color: rgba(232, 106, 108, 0.2);
}
#search_person_table .post_code_table {
  background-color: rgba(255, 136, 78, 0.2);
}
#search_person_table .id_table {
  background-color: rgba(255, 190, 52, 0.2);
}
#search_person_table td {
  text-align: center;
  color: #d4d4d4;
}
#search_person_table tr:hover:not(:first-child) {
  background-color: #434857;
  transform: scale(1.1);
}
.ui-dialog .ui-dialog-content {
  background-color: rgba(0, 0, 0, 0.2) !important;
}
#search_company_form {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}
#search_company_form .form-group {
  margin: 20px 0;
}
#search_company_form .form-group .form-control {
  border-radius: 0 0 3px 3px;
  background-color: rgba(238, 238, 238, 0.1);
  color: #ccc;
  font-size: 16px;
  width: 100%;
}
#search_company_table {
  color: #3a3c43;
  border: 1px solid #434857;
}
#search_company_table .table_label {
  background-color: rgba(212, 212, 212, 0.4);
}
#search_company_table .company_name {
  background-color: transparent;
}
#search_company_table td {
  text-align: center;
  color: #d4d4d4;
}
#search_company_table tr:hover {
  background-color: #434857;
}
.short_value {
  margin-top: 0!important;
}
#clear {
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
  border: 1px solid #512da8;
  color: #512da8;
  background: none;
  padding: 6px 12px;
  display: flex;
  margin: 10px auto;
}
#clear:hover {
  background-color: #512da8;
  color: #ffffff;
}
#search {
  padding: 12px 56px;
  border-radius: 4px;
  border: 1px solid #18ffff;
  background-color: #18ffff;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  margin: 20px 0;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
}
#search:hover {
  background-color: transparent;
  border: 1px solid #18ffff;
  font-size: 16px;
  color: #18ffff;
}
#sending-btn {
  padding: 12px 56px;
  border-radius: 4px;
  border: 1px solid #18ffff;
  background-color: #18ffff;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  margin: 20px 0;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  display: flex;
  margin: 35% auto auto;
}
#sending-btn:hover {
  background-color: transparent;
  border: 1px solid #18ffff;
  font-size: 16px;
  color: #18ffff;
}
#sending-btn1 {
  padding: 12px 56px;
  border-radius: 4px;
  border: 1px solid #18ffff;
  background-color: #18ffff;
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  margin: 20px 0;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  display: flex;
  margin: 20% auto auto;
}
#sending-btn1:hover {
  background-color: transparent;
  border: 1px solid #18ffff;
  font-size: 16px;
  color: #18ffff;
}
@media (max-width: 1200px) {
  #sending-btn {
    padding: 12px 56px;
    border-radius: 4px;
    border: 1px solid #18ffff;
    background-color: #18ffff;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    margin: 20px 0;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    display: flex;
    margin: 40% auto auto;
  }
  #sending-btn:hover {
    background-color: transparent;
    border: 1px solid #18ffff;
    font-size: 16px;
    color: #18ffff;
  }
}
@media (max-width: 991px) {
  #sending-btn {
    padding: 12px 56px;
    border-radius: 4px;
    border: 1px solid #18ffff;
    background-color: #18ffff;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    margin: 20px 0;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    display: flex;
    margin: 54% auto auto;
  }
  #sending-btn:hover {
    background-color: transparent;
    border: 1px solid #18ffff;
    font-size: 16px;
    color: #18ffff;
  }
}
@media (max-width: 768px) {
  #sending-btn {
    padding: 12px 56px;
    border-radius: 4px;
    border: 1px solid #18ffff;
    background-color: #18ffff;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    margin: 20px 0;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    display: flex;
    margin: 15px auto auto;
  }
  #sending-btn:hover {
    background-color: transparent;
    border: 1px solid #18ffff;
    font-size: 16px;
    color: #18ffff;
  }
}
@media (max-width: 991px) {
  #sending-btn1 {
    padding: 12px 56px;
    border-radius: 4px;
    border: 1px solid #18ffff;
    background-color: #18ffff;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    margin: 20px 0;
    transition: all 0.2s ease-in-out;
    font-weight: bold;
    display: flex;
    margin: -25px auto;
  }
  #sending-btn1:hover {
    background-color: transparent;
    border: 1px solid #18ffff;
    font-size: 16px;
    color: #18ffff;
  }
}
.alert {
  padding: 5px;
  margin-bottom: 4px;
  border: 1px solid transparent;
  border-radius: 4px;
  width: 40%;
  margin: 4px auto;
}
@media (max-width: 1221px) {
  .alert {
    width: 70%;
  }
}
@media (max-width: 772px) {
  .alert {
    width: 100%;
  }
}
.cd-nugget-info {
  text-align: center;
  margin: 30px 0;
}
#add_new_person .form-control {
  color: #d4d4d4;
}
